#menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    color: cornsilk;
    float: left;
    
}
#fondo{
    height: 100%;
    width: 100%;
    opacity: .8;
}

.vertical-menu {
    width: 10px;
    top:3px;
    bottom: 50%;
    left: 56px;
    position: relative;
    

  }
  
  .vertical-menu a {
    
    display: block;
    padding: 12px;
  
  }
  
  .vertical-menu a:hover {
    background-color:white;
  }
  
  .vertical-menu a.active {
    background-color: black;
    color: white;
  }

  

