.facelogo{
    position: absolute;
    height: 50px;
    width: 50px;
    /*bottom: -1442px;*/
    right: 103px;
<<<<<<< HEAD
   
=======
    margin-top: 135%;
>>>>>>> 0c1d78b40831d75e256fccf32e500597f374adf2
}
.instalogo{
    position: absolute;
    height: 48px;
    width: 50px;
    margin-top: 135%;
    float: left;
    right: 50px;
    

}
.githublogo{
    position: absolute;
    height: 57px;
    width: 60px;
    margin-top: 135%;
    float: left;
    right: 150px;
   

}

.logofin{
    position: relative;
    height: 80px;
    width: 170px;
    bottom: -1396px;
    float: left;
    right: 1300px;
    padding: 0px 0px 0px 0px;
  
    
}


  