.facelogo{
    position: absolute;
    height: 50px;
    width: 50px;
    /*bottom: -1442px;*/
    right: 103px;
    margin-top: 135%;
    z-index: 0;

}
.instalogo{
    position: absolute;
    height: 48px;
    width: 50px;
    margin-top: 135%;
    float: left;
    right: 50px;
    z-index: 0;

}
.githublogo{
    position: absolute;
    height: 57px;
    width: 60px;
    margin-top: 135%;
    float: left;
    right: 150px;
    z-index: 0;

}




/**/



.derechos
{
    position: absolute;
    margin-top: 136%;
    float: left;
    right: 1160px;
    z-index: 2;
}
  